{
  "ai_config": "ai/vanilla/ai_config.json",
  "ais": [
    {
      "name": "Vanilla (Default)",
      "path": "ai/vanilla",
      "rule_postfix": "_Default",
      "file_postfix": "",
      "name_prefix": "Default - ",
      "unittype": "Custom1",
      "commander": "ProgenitorCommander"
    },
    {
      "name": "Queller",
      "path": "../../server_mods/com.pa.quitch.qQuellerAI/pa/ai",
      "rule_postfix": "_Queller",
      "file_postfix": "_Queller",
      "name_prefix": "Queller - ",
      "unittype": "Custom2",
      "commander": "AlphaCommander"
    },
    {
      "name": "s03g",
      "path": "../../server_mods/com.s03g.AI/pa/ai",
      "base_path": "ai/vanilla/",
      "rule_postfix": "_s03g",
      "file_postfix": "_s03g",
      "name_prefix": "s03g - ",
      "unittype": "Custom3",
      "commander": "ThetaCommander"
    }
  ]
}
